{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>




      <h1 class="heading-large">
        Public Law - C110A Form
      </h1>
<h2 class="heading-small">Application for a care or supervision order and other orders under Part 4 of the Children Act 1989 or an Emergency Protection Order under section 44 of the Children Act 1989</h3>
<hr/>
<!-- Full name of Applicant -->
<div class="form-group">
  <label class="form-label" for="full-name-applicant">
     Name of Applicant
    <span class="form-hint">Local Aurhority </span>
  </label>
  <input type="text" class="form-control" id="full-name">
</div>
<!-- Respondent name -->
<div class="form-group">
  <label class="form-label" for="full-name-respondent">
    Name of Respondent(s)
    <span class="form-hint">Mother or Father </span>
  </label>
  <textarea type="text" class="form-control" id="respondent-name"></textarea>
</div>
<hr/>
<h3 class="heading-small">Summary of children’s details</h3>
<!-- Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Child 1 -  Full Name
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="child-1-full-name">
</div>


<!-- Date of birth -->
<div class="form-group">
  <fieldset>
    <legend>
      <span class="form-label">
        What is the date of birth?
      </span>
      <span class="form-hint">For example, 31 3 1980</span>
    </legend>
    <div class="form-date">
      <div class="form-group form-group-day">
        <label class="form-label" for="dob-day">Day</label>
        <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
      </div>
      <div class="form-group form-group-month">
        <label class="form-label" for="dob-month">Month</label>
        <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
      </div>
      <div class="form-group form-group-year">
        <label class="form-label" for="dob-year">Year</label>
        <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
      </div>
    </div>
  </fieldset>
</div>
<!-- toggled content -->

<div class="form-group">
  <fieldset>

    <legend>
      <h3 class="heading-small">
        Is the child accommodated?
      </h3>

    </legend>


    <div class="multiple-choice">
      <input id="nationalities-irish" name="nationalities" type="checkbox" value="Irish">
      <label for="nationalities-irish">No</label>
    </div>
    <div class="multiple-choice" data-target="example-different-country">
      <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
      <label for="nationalities-other">Yes</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="example-different-country">
      <label class="form-label" for="nationalities-other-country">If Yes, from what date?</label>


      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="dob-year">Year</label>
          <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
        </div>
      </div>

    </div>

  </fieldset>
</div>

<!-- Mother's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Mother's Name
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="Mother-1-full-name">
</div>

<!-- Father's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Father's Name
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="Father-1-full-name">
</div>

<div class="panel-border-narrow panel">
        <legend>
          <h1 class="heading-small">

          </h1>
          <span class="body-text">Parental Responsibility</span>
        </legend>

        <div class="multiple-choice" >
          <input id="radio-parental-res-4" type="radio" name="radio-indent-group-4" value="yes">
          <label for="radio-parental-res-4">Yes</label>
        </div>
        <div class="multiple-choice" >
          <input id="radio-parental-res-4" type="radio" name="radio-indent-group-4" value="No">
          <label for="radio-parental-res-4">No</label>
        </div>
      </div>

<hr/>

<!-- Full name -->
<div class="form-group">
  <label class="form-label" for="child-2-full-name">
  Child 2 -  Full Name
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="child-2-full-name">
</div>


<!-- Date of birth -->
<div class="form-group">
  <fieldset>
    <legend>
      <span class="form-label">
        What is the date of birth?
      </span>
      <span class="form-hint">For example, 31 3 1980</span>
    </legend>
    <div class="form-date">
      <div class="form-group form-group-day">
        <label class="form-label" for="dob-day">Day</label>
        <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
      </div>
      <div class="form-group form-group-month">
        <label class="form-label" for="dob-month">Month</label>
        <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
      </div>
      <div class="form-group form-group-year">
        <label class="form-label" for="dob-year">Year</label>
        <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
      </div>
    </div>
  </fieldset>
</div>
<!-- toggled content -->

<div class="form-group">
  <fieldset>

    <legend>
      <h3 class="heading-small">
        Is the child accommodated?
      </h3>

    </legend>


    <div class="multiple-choice">
      <input id="nationalities-irish" name="nationalities" type="checkbox" value="Irish">
      <label for="nationalities-irish">No</label>
    </div>
    <div class="multiple-choice" data-target="what-date-2">
      <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
      <label for="nationalities-other">Yes</label>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="what-date-2">
      <label class="form-label" for="nationalities-other-country">If Yes, from what date?</label>


      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="dob-year">Year</label>
          <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
        </div>
      </div>

    </div>

  </fieldset>
</div>
<!-- Mother's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Mother's Name
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="Mother-1-full-name">
</div>

<!-- Father's Full name -->
<div class="form-group">
  <label class="form-label" for="child-1-full-name">
  Father's Name
    <span class="form-hint">As shown on the birth certificate or passport</span>
  </label>
  <input type="text" class="form-control" id="Father-1-full-name">
</div>

<div class="panel-border-narrow panel">
        <legend>
          <h1 class="heading-small">

          </h1>
          <span class="body-text">Parental Responsibility</span>
        </legend>

        <div class="multiple-choice" >
          <input id="radio-parental-res-2" type="radio" name="radio-indent-group-1" value="yes">
          <label for="radio-parental-res-3">Yes</label>
        </div>
        <div class="multiple-choice" >
          <input id="radio-parental-res-3" type="radio" name="radio-indent-group-1" value="No">
          <label for="radio-parental-res-3">No</label>
        </div>
      </div>

<hr/>


<form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">
        Nature of application
        </h1>
        <span class="body-text">What order(s) are you applying for? (tick all which apply)</span>
      </legend>

      <div class="multiple-choice" data-target="care-and-supervision">
        <input id="radio-home-address" type="radio" name="radio-indent-group" value="Home">
        <label for="radio-home-address">Care and supervision or other Part 4</label>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="care-and-supervision">

        <h2 class="heading-medium">
          Care and supervision or other Part 4
        </h2>

        <div class="multiple-choice">
          <input id="care" name="nationalities" type="checkbox" value="care">
          <label for="care">Care</label>
        </div>
        <div class="multiple-choice">
          <input id="Supervision" name="Supervision" type="checkbox" value="Supervision">
          <label for="Supervision">Supervision</label>
        </div>
        <div class="multiple-choice">
          <input id="Interim-care-order" name="Interim-care-order" type="checkbox" value="Interim care order">
          <label for="Interim-care-order">Interim care order</label>
        </div>
        <div class="multiple-choice">
          <input id="Interim-supervision-order" name="Interim-supervision-order" type="checkbox" value="Interim-supervision-order">
          <label for="Interim-supervision-order">Interim supervision order</label>
        </div>


        <div class="multiple-choice" data-target="others-2">
          <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
          <label for="Others">Other</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="others-2">
          <label class="form-label" for="other-2">Please specify</label>
          <textarea class="form-control" type="text" id="other-2y" name="other-2"></textarea>
        </div>

<div class="panel panel-border-narrow multiple-choice">
<hr/>
        <legend>
          <h1 class="heading-small">

          </h1>
          <span class="body-text">Is the Local Authority considering adoption?</span>
        </legend>

        <div class="multiple-choice" >
          <input id="radio-adoption" type="radio" name="radio-indent-group-1" value="yes">
          <label for="radio-adoption">Yes</label>
        </div>
        <div class="multiple-choice" >
          <input id="radio-adoption" type="radio" name="radio-indent-group-1" value="No">
          <label for="radio-adoption">No</label>
        </div>
</div>


</div>
      <div class="multiple-choice" data-target="emergency-protection-order">
        <input id="radio-other-address" type="radio" name="radio-indent-group" value="Other">
        <label for="radio-other-address">Emergency Proetection</label>
      </div>

      <div class="panel panel-border-narrow js-hidden" id="emergency-protection-order">

        <div class="multiple-choice">
          <input id="emg-1" name="emg-1" type="checkbox" value="emg-1">
          <label for="emg-1">information on the whereabouts of the child[ren]
(Section 48(1) Children Act 1989).</label>
        </div>
        <div class="multiple-choice">
          <input id="emg-2" name="emg-2" type="checkbox" value="emg-2">
          <label for="emg2">authorisation for entry of premises
(Section 48(3) Children Act 1989).</label>
        </div>
        <div class="multiple-choice">
          <input id="emg-3" name="emg-3" type="checkbox" value="emg-3">
          <label for="emg-3">authorisation to search for another child on the
premises (Section 48(4) Children Act 1989).</label>
        </div>

        <div class="multiple-choice" data-target="others-3">
          <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
          <label for="Others">Other</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="others-3">
          <label class="form-label" for="other-3">Please specify</label>
          <textarea class="form-control" type="textarea" id="other-3" name="other-3"> </textarea>
        </div>


      </div>
    </fieldset>
  </div>
</form>




<input class="button" type="submit" value="Save and continue">






    </div>
  </div>
</main>

{% endblock %}
