{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>

      <h1 class="heading-large">
        Public Law - test page
      </h1>

      <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    You can be fined up to £5,000 if you don’t register.
  </strong>
</div>
<table>
  <caption class="heading-small">Dates and amounts</caption>
  <tbody>
    <tr>
      <td>First 6 weeks</td>
      <td>£109.80 per week</td>
    </tr>
    <tr>
      <td>Next 33 weeks</td>
      <td>£109.80 per week</td>
    </tr>
    <tr>
      <td>Total estimated pay</td>
      <td>£4,282.20</td>
    </tr>
    <tr>
      <td>Tell the mother’s employer</td>
      <td>28 days before they want to start maternity pay</td>
    </tr>
  </tbody>
</table>

<div class="js-hidden" data-module="accordion-with-descriptions">
        <div class="subsection-wrapper">
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="understanding-user-research">Understanding user research</h2>
                <p class="subsection__description">Introduction, user needs, users who need help online.</p>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                      <a href="/service-manual/user-research/how-user-research-improves-service-design">User research for government services: an introduction</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/user-research/start-by-learning-user-needs">Learning about users and their  needs</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/user-research/understanding-users-who-dont-use-digital-services">Understanding users who don't use digital services</a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat justo id dui molestie, ut consectetur risus efficitur. Pellentesque in elit et ligula vulputate posuere.
</p>
<a class="button button-start" href="#" role="button">Start now</a>

<p> &nbsp;</p>
<blockquote class="panel panel-border-wide"> <p>Useful tips are shown here</p></blockquote>
<details>

  <summary><span class="summary">Click here to see contextual information</span></summary>

  <div class="panel panel-border-narrow">

    <p>
      If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
    </p>

    <p>
      We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
    </p>

  </div>

</details>


<!-- Use .form-group to create spacing when wrapping label and input pairs -->
<div class="form-group">
  <label class="form-label" for="first-name-2">First name</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<div class="form-group">
  <label class="form-label" for="last-name-2">Last name</label>
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div>

<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend>
        <h1 class="heading-medium">
          Do you already have a personal user account?
        </h1>
      </legend>

      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>

    </fieldset>
  </div>
</form>

<div class="form-group">
  <div class="panel panel-border-narrow">
    <label class="form-label" for="example-phone-number">Mobile phone number</label>
    <input class="form-control" id="example-phone-number" name="example-phone-number" type="text">
  </div>
</div>

<input class="button" type="submit" value="Save and continue">

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Check before you start
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="eligibility-completed">
                Check eligibility
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="read-declaration-completed">
                Read declaration
              </a>
              <strong class="task-completed" id="read-declaration-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Prepare application
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="company-information-completed">
                Company information
              </a>
              <strong class="task-completed" id="company-information-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="contact-details-completed">
                Your contact details
              </a>
              <strong class="task-completed" id="contact-details-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                List convictions
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#">
                Provide financial evidence
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="#" aria-describedby="medical-information-completed">
                Give medical information
              </a>
              <strong class="task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Apply
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
                Submit and pay
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
